
.FAQ {
    padding: 60px 20px;
    background-color: #fff3ea; 
    text-align: center;
    font-family: RobotoSerif;
  }
  .FAQ h1 {
    font-size: 2.5rem; 
    margin-bottom: 20px; 
    color: #ff600f; 
    font-family: Karatula;
  } 
  .FAQ h2 {
    font-size: 2.5rem; 
    margin-bottom: 20px; 
    color: #ff600f; 
    font-family: Karatula;
  }
  
  .FAQ p {
    font-size: 1.2rem; 
    color: #ff600f; 
    line-height: 1.5;
    font-family: RobotoSerif;
  }