.home {
    text-align: center;
    background-color: #fff3ea;
  }
  
  .main_page {
    background: url('../images/HomeFood.png') no-repeat center center/cover;
    height: 100vh; /* Use 100vh to fit the height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff600f;
    text-align: center;
    font-family: RobotoSerif;
    font-weight: bolder;
  }
  
   .main_page-content { /*adjusts content*/
    height: 75vh;
  }

  .main_page-content h1 { /*adjusts content for h1*/
    font-size: 5rem;
    display: inline;
  }

  .highlight_text { /*highlight text class font*/
    font-size: 5rem;
    font-family: Karatula;
  }
  
  .main_page-content p {  /*adjusts content bottom for p*/ 
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  .main_page-btn {
    padding: 10px 60px;
    background-color: #ff914d;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.5rem;
  }
  
  .main_page-btn:hover {
    background-color: #ff600f;
  }

  .navbar {
    background: linear-gradient(to left, #ff600f, #ff914d); /* Adjust colors as needed */
  }

  .navbar-brand {
    color: white !important;
  }

  @font-face {
    font-family: RobotoSerif;
    src: url(../fonts/RobotoSerif-Thin.ttf);
  }

  @font-face {
    font-family: Karatula;
    src: url(../fonts/LL\ KARATULA\ 020721.otf);
  }

  body {
    overflow: hidden; /* Prevents scrolling */
    margin: 0;
  }