.home {
    text-align: center;
    background-color: #fff3ea;
  }
  
  .main_page {
    
    background: url('../images/HomeFood.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff914d;
    text-align: center;
  }
  
  .main_page-content {
    height: 50vh;
  }

  .main_page-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .main_page-content p {
    font-size: 1.5rem;
    margin-bottom: 100px;
  }
  
  .main_page-btn {
    padding: 10px 30px;
    background-color: #ff914d;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2rem;
  }
  
  .main_page-btn:hover {
    background-color: #ff600f;
  }
  
  .about, .services, .cta {
    padding: 50px 20px;
  }
  
  .about h2, .services h2, .cta h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .service-item {
    margin-bottom: 30px;
  }
  
  .cta-btn {
    padding: 15px 30px;
    background-color: #ff600f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  
  .cta-btn:hover {
    background-color: #ff600f;
  }

  .navbar {
    background: linear-gradient(to left, #ff600f, #ff914d); /* Adjust colors as needed */
  }