.login-admin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff3ea;
    background-image: url("../images/login-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: RobotoSerif;
    color: #fff3ea;
    animation: fadeInUp 0.3s ease-in forwards;
  }
  
  form {
    background: transparent;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(20px); /* Blur effect on the form's background */
    animation: fadeInUp 0.3s ease-in forwards;
  }
  
  h1.login-admin-text {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgb(0, 0, 0, 0.5); /* Adjust shadow effect */
  }
  
  .input-box {
    position: relative;
    margin-bottom: 15px;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 40px; /* Space for the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent background for inputs */
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888; /* Icon color */
  }
  
  /* Additional styles if needed */
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #ff914d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ff600f;
  }
  
  .admin-register-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .admin-register-link p {
    margin: 0;
  }
  
  .admin-register-link a {
    color: white;
    transition: color 0.3s ease;
  }
  
  .admin-register-link a:hover {
    color: #ff600f;
  }
  