

body {
  font-family: Robotoserif;
  margin: 0;
  padding: 0;
  background-color: #fff3ea; 
}

h1, h2 {
  color: #ff600f; 
}

.faq-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; 
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ff600f; 
}

li:last-child {
  border-bottom: none;
}

strong {
  color: #ff600f; 
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input, textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ff600f; 
  border-radius: 4px;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-color: #ff600f; 
  outline: none; 
}

button {
  padding: 10px;
  background-color: #ff600f; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e55b0f; 
}

p {
  color: green; 
  font-weight: bold;
}